body {
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30045320.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
}

.App {
    /* background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30045320.jpg"); */
    /* background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30045320.jpg"); */
    text-align: center;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
    color: blue;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 120s linear;
    }
}

.App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.books {
    list-style-type: none;
}

.book-title {
    color: green;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}